body {
    display: flex;
    background-image: url('bg.png');
    justify-content: center;
}
.wrapper {
    display: flex;
    justify-content: center;
}
.main {
    display: flex;
    justify-content: center;
    width: 300px;
}
.wrapper {
    width: 1200px;
}

button {
    transition: all 2s !important;
}
button:hover {
    color: red !important;
    transform: skew(20deg, 5deg);
}
.test-transition {
    width: 100px;
    height: 100px;
    background-color: black;
    transition: all 1s;
}
.test-transition:hover {
    width: 500px;
    height: 500px;
    transform: skew(20px, 5px);
    background-color: red;
}


@media (max-width: 800px) {
    body {
        background-color: blueviolet;
    }
    .wrapper {
        width: 600px;
    }
    button {
        color: black !important;
    }
}

@media (max-width: 1200px) {
    .btn {
        margin-top: 0;
    }
}

.btn-primary {
    background-color: black;
}